TAGS
web-pages
glade/kise.glade.prev
icons/full-pie-24x24-bw-1.png
icons/full-pie-24x24-bw-1.xcf
icons/full-pie-24x24-bw-2.png
icons/full-pie-24x24-bw-2.xcf
icons/pie-24x24-bw.png
icons/pie-24x24-bw.xcf
icons/pie-24x24-color.png
icons/pie-24x24-color.xcf
icons/pie-32x32-bw.png
icons/pie-32x32-color.png
icons/pie-32x32-color.xcf
