TAGS
web-pages
ogwanda
misc
kise/kise
kise/glade/kise.glade.prev
kise/icons/full-pie-24x24-bw-1.png
kise/icons/full-pie-24x24-bw-1.xcf
kise/icons/full-pie-24x24-bw-2.png
kise/icons/full-pie-24x24-bw-2.xcf
kise/icons/pie-24x24-bw.png
kise/icons/pie-24x24-bw.xcf
kise/icons/pie-24x24-color.png
kise/icons/pie-24x24-color.xcf
kise/icons/pie-32x32-bw.png
kise/icons/pie-32x32-color.png
kise/icons/pie-32x32-color.xcf
kise/icons/time-admin.png
kise/icons/time-admin.svg
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
env
pre-inst-env
kise-*.tar.gz
Makefile
Makefile.in
meta/guild
doc/version.texi
doc/stamp-vti
doc/kise.t2p
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.html
*.info
*.pdf
*.go
