TAGS
web-pages
ogwanda
misc
kise/kise
kise/glade/kise.glade.prev
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
env
pre-inst-env
kise-*.tar.gz
kise-*.tar.gz.sig
Makefile
Makefile.in
meta/guild
doc/version.texi
doc/stamp-vti
doc/kise.t2p
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.html
*.info
*.pdf
*.go
